.title{
    border:1px solid #c81500;
    border-radius: 5px;
    padding: 10px;
    width: 55px;
    color: #c81500;
    margin-top: 20px;
    letter-spacing: inherit;
    margin-left: 20px;
    text-align: center;
    margin-bottom: 20px;
}


.ico{
    font-size: 50px;
    margin-left: 5px;
    color: #bdbdbd;
    padding: 0px;
    float: right;
}
.ico:hover{
    color: #c81500;
}
.text{
    font-size: 15px;
    padding: 5px;
}

.cen{
    display:flex; 
    flex-direction:column;
     justify-content:center;
}


.vcenter {
    margin-left:5px;
    margin-bottom:0px;
    display: flex;
    align-items: center;
 }

.item {
    height: 60px;
    line-height: 40px;
    background: white;
    box-shadow: #dcdcdc 2px 2px 2px 2px;
    border-radius: 5px;
} 


.titlePagination{
    margin-left: 5px;
    font-size: 15px;
}

.font15{
    font-size: 15px;
}


.checkbox label:after {
    content: '';
    display: table;
    clear: both;
  }
  
  .checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
  }
  
  .checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 15%;
  }
  
  .checkbox label input[type="checkbox"] {
    display: none;
  }

  .titulo{
    background:transparent ;
    padding:0px;
    margin-top:10px;
    margin-left:15px;
    font-size:20px;
  }
  
  .checkbox label input[type="checkbox"]+.cr>.cr-icon {
    opacity: 0;
  }
  
  .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
    opacity: 1;
  }

  .show{
    display: block;
  }
  .hide{
    display: none;
  }



  .divisoria{
    border-right: 2px solid #e0e0e0;
    justify-content: end;
    display: flex;
    margin-left: 20px;
    margin-right: 5px;
  }

  td{
    text-align: center;
  }

  th{
    text-align: center;
  }