.form-control{
    border-radius: 5px;
}


.btn-sm{
    width: 160px;
    font-size: 15px;
    font-weight: 600px;
}


.text-danger{
   color: #dd4b39;
}

.pagination {
    display: inline;
}


.form-group>label{
    font-size: 16px;
    font-weight: normal;
    color: #616161;
}

.modal-title{
    font-size: 18px;
    color: #dd4b39;
    font-weight: 300px;
}

.modal-body{
    font-size: 15px;
}

input[type = "search"]{
    padding: 3px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.select{
    padding: 3px 6px;
    width: 150px;
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.dt-buttons>a{
    margin-left:10px ;
    background: #fff;
    border:1px solid #c81500;
    color:#222;
    color: #c81500;
    font-weight: 400px;
}

.dt-buttons>a:hover{
    background-image: #fff !important;
    border:1px solid #c81500;
    color:#222;
}
a.dt-button:hover:not(.disabled) {
    border:1px solid #c81500;
    font-weight: 300px;
    background-image: linear-gradient(to bottom, #c81500 0%, #c81500 100%);
    color: white;
    font-weight: 300px;
    background-color: #c81500 !important;
}
select[name= 'modalidade-table_length']{
        display: inline-block;
        width: 27%;
        height: 30px;
        padding: 3px 6px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
    
}


@media (max-width: 576px){
    .btn-sm{
        width: 140px;
    }
}
