td{
    text-align: center;
}

.bloco{
    background: white;
    margin-top:50px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.cont::before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 250px;
    background: #c81500 linear-gradient(to right,#c81500,#a61100);
}

.cont {
    position: relative;
}