body{
    font-family: sans-serif;
    /* background: #eeeeee; */
    background: #dcdcdc;
  }

  .label-float{
    position: relative;
    padding-top: 13px;
  }
  
  .label-float input{
    border: 1px solid lightgrey;
    border-radius: 5px;
    outline: none;
    min-width: 250px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-appearance:none;
  }
  .label-float input:focus{
    border: 2px solid #616161;
  }
  
  .label-float input::placeholder{
    color:transparent;
  }
  
  .label-float label{
    pointer-events: none;
    position: absolute;
    top: calc(50% - 5px);
    left: 15px;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    background-color: white;
    box-sizing: border-box;
  }

  .form-control:focus {
    box-shadow: none;
  }

  .btn:focus, .btn.focus {
    box-shadow: none;
  }

.label-float input:focus + label,
.label-float input:not(:placeholder-shown) + label{
  font-size: 13px;
  top: 0;
  color: #616161;
}


.card{
    position: relative;
    top: 60px;
}


.btnLogin {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid #c81500;
  border-radius: 0.8em;
  color: #c81500;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
  padding: 0.5em 1.5em;
  text-decoration: none;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.btnLogin:hover, .btn:focus {
  color: #fff;
  outline: 0;
}

.card{
  border-radius: 0.5rem;
}

.fourth {
  border-color: #c81500;
  color: #c81500;
  background-image: -webkit-linear-gradient(45deg, #c81500 50%, transparent 50%);
  background-image: linear-gradient(45deg, #c81500 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}

.link{
  color: #707070;
}

.link:hover, .link:focus{
  color: #616161;

}