.la{
    font-size: 25px;
}

.linha{
    border:2px solid #c81500;
    border-radius: 5px;
}

.groups{
    border: 1.5px solid #DCDCDC;
    border-radius: 5px;
    padding: 15px;
}

.title{
    font-size: 18px;
    font-weight: 50px;
    color: black;
}

span{
    width: 150px;
    display: inline-block;
}

.separa{
    border: 1px solid #DCDCDC;
}

input{
    border: none;
    font-size: 15px;
    color: black;
    text-align: justify;
    width: 300px;
}
textarea{
    border: none;
    font-size: 15px;
    color: black;
    margin-left: 25px;
}

#funDescricao{
    width: 250px;
}

input:focus {
    border: none;
}