*{
    margin: 0px;
    padding: 0px;
}
.font{
    color: #f5f5f5;
    font-weight: 400;
    padding-top:30px;
    padding-left:20px;
    font-size: 25px;
    font-family:libre franklin,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}
.bg-white{
    background: #ffffff;
}
.bg-primary{
    background: #536dfe;
}
.ativo{
    color:#c81500;
}

.user-panel{
    width:50px;
    height:50px;
}

.card-title{
     font-family:libre franklin,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
     padding:20px;
     background:#fafafa;
     color:#c81500;
     font-size:18px;
     border-radius:5px;
}
.card{
    border-radius:5px;
    margin-top: 50px;
}

.mt{
    margin-top: 150px;
}


.card-body{
    border-radius:5px;
}

.img-home{
   display: block; 
   width: 477px; 
   height: 250px;
}

.btn-tatame{
    background: #c81500;
    color: white;
}

.btn-tatame:hover{
    font-size: 15px;
    font-weight: 500px;
    color:#fff;
}

@media (max-width: 991px){
    .main-header .navbar-custom-menu #perfilbutton, .main-header .navbar-right #perfilbutton {
        color: #ffffff;
        background: #c81500;
    }
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #c81500;
}
.treeview-menu>li>a:hover{
    color: #444;
}

.treeview-menu>li>a{
    color: #777;
}
.main-header .sidebar-toggle:hover {
    color: #000;
}
a{
    color: #444;
}
a:hover,a:active,a:focus{
    color: #000;
}

#verNF:hover{
    background-color: #0B681B;
    border-color: #008d4c;
    color: white;
}

#verNF{
    color: #0B681B;
    border-color: #008d4c;
    background-color: white;
}

#imgNF {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

#imgNF:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
#btnNF{
    color: #388e3c;
    border-color:#388e3c;
    background-color: white;
}

#btnNF:hover{
    background-color:#388e3c;
    border-color: #388e3c;
    color: white;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #fff;
    color:#777 !important;
    border: 1px solid #dcdcdc !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current{
    color: #fff !important;
    cursor: default;
    background: #337ab7 !important;
    border-color: #337ab7;
  }
.title-emp{
    margin-left:15px;
    display: inline;
    font-size: 18px;
}

textarea{
    resize: none;
}


.badge-danger {
    color: #fff;
    background-color: #dc3545;
  }
  
  .badge-warning {
    color: #212529;
    background-color: #ffc107;
  }
  
  .badge-success {
    color: #fff;
    background-color: #28a745;
  }