table thead th {
    border-bottom:1px solid #343a40 !important;
}
table tbody tr:last-child td{
    border-bottom:1px solid #343a40 !important;
}

#verNF:hover{
    background-color: #0B681B;
    border-color: #008d4c;
    color: white;
}

#verNF{
    color: #0B681B;
    border-color: #008d4c;
    background-color: white;
}

.btnCodigo{
    background-color: #a255ff;
    border-color: #a255ff;
    opacity: 0.7;
    color: white;
}

.btnCodigo:active{
  background-color: #a255ff;
  border-color: #a255ff;
  opacity: 0.7;
  color: white;
}

.btnCodigo:hover{
  background-color: #a255ff;
  border-color: #651fff;
  opacity: 1;
  color: white;
}

.btn.focus, .btnCodigo:focus, .btn:hover,.btnCodigo {
  color: white;
  text-decoration: none;
}

.btn-pdf:focus {
  color: #388e3c;
  text-decoration: none;
}
 

.opac{
    opacity: 0.7;
}
.checkbox label:after {
    content: '';
    display: table;
    clear: both;
  }
  
  .checkbox .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
  }
  
  .checkbox .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 15%;
  }
  
  .checkbox label input[type="checkbox"] {
    display: none;
  }
  
  .checkbox label input[type="checkbox"]+.cr>.cr-icon {
    opacity: 0;
  }
  
  .checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {
    opacity: 1;
  }

#imgNF {
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* IE 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

#imgNF:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.btn-pdf{
  color: #388e3c;
    border-color: #388e3c;
    background-color: white;
    font-size: 13px;
}

.btn-pdf:hover{
  color: white;
  border-color: #388e3c;
  background-color: #388e3c;
  font-weight: 400px;
  font-size: 15px;

}

.hide{
  display:none !important;
}
.show{
  display:block !important;
}

.font15{
  font-size: 15px;
  color: #616161;
}

.data{
  padding: 3px 6px;
  font-size: 14px;
  line-height: 1.42857143;
  margin-right:10px;
}

th{
  text-align: center;
}

td{
  text-align: center;
}

.opacity {
  opacity: 0.8;
}

.opacity:hover{
  opacity: 1;
}

.badge{
  display: inline-block;
  padding: .25em .4em;
  font-size: 80%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.export,.export:active,.export:focus{
    margin-left:10px ;
    background: #fff;
    border:1px solid #c81500;
    color:#222;
    padding: 7px 12px;
    color: #c81500;
    font-weight: 200px;
    border-radius: 2px;
    font-size: 0.88em;
}

.export:hover{
  margin-left:10px ;
  background: #c81500;
  border:1px solid #c81500;
  color:#222;
  padding: 7px 12px;
  color:white;
  font-weight: 400px;
  border-radius: 2px;
  font-size: 0.88em;
}