.form-control{
    border-radius: 5px;
}


.btn-sm{
    width: 160px;
    font-size: 15px;
    font-weight: 600px;
}


.text-danger{
   color: #dd4b39;
}

.form-group>label{
    font-size: 16px;
    font-weight: normal;
    color: #757575;
}

input[type = "search"]{
    border: 1px solid #d2d6de;
    border-radius: 4px;
    margin-left: 2px;
}

.dt-buttons>a{
    background: #fff;
    border:1px solid #c81500;
    color:#222;
}

.dt-buttons>a:hover{
    background: #fff;
    border:1px solid #c81500;
    color:#222;
}


@media (max-width: 576px){
    .btn-sm{
        width: 140px;
    }
}
