*{
    margin: 0px;
    padding: 0px;
}


.cartao-principal{
    background: #c81500 linear-gradient(to right,#c81500,#a61100); 
    width: 100%; 
    height: 250px;
}

.font{
    color: #f5f5f5;
    font-weight: 400;
    padding-top:30px;
    padding-left:20px;
    font-size: 25px;
    font-family:libre franklin,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}

.bg-white{
    background: #ffffff;
}

.ativo{
    color:#c81500;
}

.user-panel{
    width:50px;
    height:50px;
}

.card-title{
     font-family:libre franklin,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
     padding:20px;
     background:#fafafa;
     color:#c81500;
     font-size:18px;
     border-radius:5px;
}
.card{
    border-radius:5px;
    margin-top:60px;
}
.card-body{
    border-radius:5px;
}

.img-home{
   display: block; 
   width: 477px; 
   height: 250px;
}

.btn-tatame{
    background: #c81500;
    color: white;
}

@media (max-width: 991px){
    .main-header .navbar-custom-menu #perfilbutton, .main-header .navbar-right #perfilbutton {
        color: #ffffff;
        background: #c81500;
    }
}

.nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #c81500;
}
